@import "./media-queries.scss";

.main{ 
    .main__content--supplies{
        display: grid; 
        grid-template-columns: repeat(12, 1fr); 
        grid-template-rows:   minmax(auto, max-content);
        grid-auto-rows: minmax(10px, auto); 

        .products{ 
            grid-column: 2 / 12;   
        }
    }
}