@import "./home";
@import "./article";
@import "./blog";
@import "./contacto";
@import "./cursos";
@import "./insumos";
@import "../partials/card";
@import "../partials/footer";

// estilos generales
.main{ 
    max-width: 1280px;
    margin: 0 auto;
    color: #515151; 
}