.main .carousel__img {
  width: 100%;
  height: 500px;
  object-fit: cover; }
  @media screen and (max-width: 768px) {
    .main .carousel__img {
      width: 100%;
      height: 280px;
      object-fit: cover; } }
  @media screen and (max-width: 536px) {
    .main .carousel__img {
      width: 100%;
      height: 350px;
      object-fit: cover; } }

.main .main__content_home {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: minmax(auto, max-content);
  grid-auto-rows: minmax(10px, auto); }
  .main .main__content_home .characteristics {
    grid-column: 2 / 12;
    margin-top: 80px; }
    .main .main__content_home .characteristics .section__content {
      padding: 2rem 1rem; }
      .main .main__content_home .characteristics .section__content .title__secondary {
        text-align: center; }
      .main .main__content_home .characteristics .section__content .characteristics__texto {
        text-align: center; }
    .main .main__content_home .characteristics .characteristics__items {
      grid-column: 2 / 12;
      display: flex;
      justify-content: space-between; }
      @media screen and (max-width: 768px) {
        .main .main__content_home .characteristics .characteristics__items {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center; } }
      .main .main__content_home .characteristics .characteristics__items .characteristics__item {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 20%;
        padding: 1rem; }
        @media screen and (max-width: 768px) {
          .main .main__content_home .characteristics .characteristics__items .characteristics__item {
            width: 60%; } }
      .main .main__content_home .characteristics .characteristics__items .characteristics__item h4 {
        text-align: center;
        font-size: 1.2rem; }
    .main .main__content_home .characteristics .characteristics__image {
      width: 11.375rem;
      height: 11.375rem;
      object-fit: cover;
      border-radius: 50%;
      margin-bottom: 1rem; }
  .main .main__content_home .products {
    grid-column: 2 / 12;
    margin-top: 80px; }
    .main .main__content_home .products .section__content {
      padding: 2rem 1rem; }
      .main .main__content_home .products .section__content .title__secondary {
        text-align: center; }
      .main .main__content_home .products .section__content .characteristics__texto {
        text-align: center; }
    .main .main__content_home .products .products__mob {
      display: none; }
      @media screen and (max-width: 768px) {
        .main .main__content_home .products .products__mob {
          display: block; } }
      .main .main__content_home .products .products__mob .card__description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1em 0.5em;
        text-decoration: none; }
      .main .main__content_home .products .products__mob .card__description > h3 {
        margin-bottom: 0.5em; }
    @media screen and (max-width: 768px) {
      .main .main__content_home .products .products__cards {
        display: none; } }
  .main .main__content_home .testimonys {
    grid-column: 2 / 12;
    margin-top: 80px; }
    .main .main__content_home .testimonys .section__content {
      padding: 2rem 1rem; }
      .main .main__content_home .testimonys .section__content .title__secondary {
        text-align: center; }
      .main .main__content_home .testimonys .section__content .characteristics__texto {
        text-align: center; }
    .main .main__content_home .testimonys .testimony__items {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
      width: 100%; }
    .main .main__content_home .testimonys .testimony {
      font-family: 'Raleway', Arial, sans-serif;
      position: relative;
      overflow: hidden;
      margin: 10px;
      min-width: 19.375rem;
      max-width: 19.375rem;
      width: 100%;
      color: #333;
      text-align: left;
      box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, 0.5); }
    .main .main__content_home .testimonys .testimony blockquote {
      display: block;
      border-radius: 8px;
      position: relative;
      background-color: #fafafa;
      padding: 25px 50px 30px 50px;
      font-size: 0.8em;
      font-weight: 500;
      margin: 0;
      line-height: 1.6em;
      font-style: italic; }
    .main .main__content_home .testimonys .testimony blockquote:before,
    .main .main__content_home .testimonys .testimony blockquote:after {
      font-family: 'FontAwesome';
      content: "\201C";
      position: absolute;
      font-size: 50px;
      opacity: 0.3;
      font-style: normal; }
    .main .main__content_home .testimonys .testimony blockquote:before {
      top: 25px;
      left: 20px; }
    .main .main__content_home .testimonys .testimony blockquote:after {
      content: "\201D";
      right: 20px;
      bottom: 0; }
